html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Providence hackathon
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet")
    link(rel='shortcut icon', href='/favicon.png' type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")

  body
    flash-message
    #view.container-fluid(ng-view='')
    #footer

    link(rel='stylesheet', type="text/css", href="#{module}.css", media="screen")
    script(src='#{module}.js')
    script(src="http://localhost:35729/livereload.js")
